body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  color: #262727;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  font-family: 'Shippori Mincho', serif;
}

* {
  box-sizing: border-box;
}

section {
  padding: 36px 0;
}

p {
  margin-top: 0;
  margin-bottom: 16px;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.container {
  max-width: 1248px;
  margin: auto;
}

.cg-breadcrumb {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 10px;

  .cg-breadcrumb-item {
    font-weight: 700;
    font-size: 14px;
    color: #B50017;
    border: none;
    background: none;
    display: block;
    text-decoration: none;
  }
}

.cg-single-title {
  font-family: 'Shippori Mincho';
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  color: #262727;
}

.cg-single-subtitle {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #B60017;
}

.cg-single-content {
  display: flex;
  gap: 16px;

  .cg-single-content-inner {
    gap: 10px;
  }

  .cg-single-feature-image img {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
    margin-bottom: 24px;

  }
}

.cg-card-featured {
  display: flex;
  margin: 24px auto;
  border: 1px solid #D9D9D9;
  max-width: 616px;

  .cg-card-image {
    width: 300px;
    height: 300px;
    gap: 10px;
    object-fit: cover;
  }

  .cg-card-text {
    gap: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .cg-card-tags {
      display: flex;
      gap: 10px;

      .tag {
        font-size: 12px;
        padding: 0;
        color: #B60017;
        background: none;
        border: none;
        justify-content: space-between;
        text-decoration: none;
      }
    }


    .cg-card-content {
      gap: 10px;
      margin-top: auto;
      margin-bottom: auto;

      p {
        margin-bottom: 0;
        font-family: Shippori Mincho;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #262727;
      }

      .headline {
        width: 284px;
        height: 60px;
        gap: 10px;
        font-family: Shippori Mincho;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #262727;
      }
    }

    .cg-card-meta {
      gap: 10px;
      align-items: baseline;
      display: flex;
      justify-content: flex-start;
      width: 100%;

      .meta-like,
      .meta-bookmark {
        color: #B60017;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 4px;
      }

      .meta-reading {
        font-size: 12px;
        text-align: right;
        color: #B60017;
        margin-left: auto;
        margin-bottom: 0;
      }
    }
  }
}

.cg-single-content-sidebar {
  flex: 0 0 auto;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .sidebar {
    gap: 10px;
    padding: 20px 12px;
    border: 1px solid #F3F3F3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .sidebar-title {
    font-family: "Shippori Mincho", serif;
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    color: #262727;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E9E9E9;
    text-transform: uppercase;
    padding-bottom: 8px;
    margin-bottom: 0;

    a {
      font-size: 14px;
      font-weight: 700;
      color: #B60017;
      text-decoration: none;
    }
  }

  .sidebar-body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #53565A;
    font-size: 14px;

    p {
      margin-bottom: 0;
    }

    ul {
      margin-bottom: 0;
      padding-left: 1.5em;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    input {
      border: 1px solid #F3F3F3;
      font-size: 14px;
      padding: 10px 16px;
      font-family: "Inter", sans-serif;
    }

    button {
      background: #B50017;
      font-size: 14px;
      padding: 10px 16px;
      font-weight: 700;
      text-transform: uppercase;
      border: none;
      color: #FFFFFF;
    }

    .sidebar-image {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .text-itinerary {
      font-family: 'Shippori Mincho';
      font-size: 20px;
      text-transform: uppercase;
      color: #262727;
      margin-bottom: 8px;
    }

    a {
      font-weight: 700;
      color: #B60017;
      text-decoration: none;
    }

    .btn-more {
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}


.cg-card-location {
  align-items: center;
  border: 1px solid #F3F3F3;
  display: flex;

  .cg-card-image {
    width: 160.5px;
    height: 158px;
  }

  .cg-card-title {
    gap: 4px;
    padding: 8px;
    font-family: "Shippori Mincho", serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #262727;
  }
}