@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter/Inter_18pt-Black.ttf );
  font-weight: 900;
}
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter/Inter_18pt-Bold.ttf );
  font-weight: 700;
}
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter/Inter_18pt-ExtraBold.ttf );
  font-weight: 800;
}
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter/Inter_18pt-ExtraLight.ttf );
  font-weight: 200;
}
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter/Inter_18pt-Light.ttf );
  font-weight: 300;
}
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter/Inter_18pt-Medium.ttf );
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter/Inter_18pt-Regular.ttf );
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter/Inter_18pt-SemiBold.ttf );
  font-weight: 600;
}
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter/Inter_18pt-Thin.ttf );
  font-weight: 100;
}
@font-face {
  font-family: 'Shippori Mincho';
  src: url(../fonts/Shippori_Mincho/ShipporiMincho-Bold.ttf );
  font-weight: 700;
}
@font-face {
  font-family: 'Shippori Mincho';
  src: url(../fonts/Shippori_Mincho/ShipporiMincho-ExtraBold.ttf );
  font-weight: 800;
}
@font-face {
  font-family: 'Shippori Mincho';
  src: url(../fonts/Shippori_Mincho/ShipporiMincho-Medium.ttf );
  font-weight: 500;
}
@font-face {
  font-family: 'Shippori Mincho';
  src: url(../fonts/Shippori_Mincho/ShipporiMincho-Regular.ttf );
  font-weight: 400;
}
@font-face {
  font-family: 'Shippori Mincho';
  src: url(../fonts/Shippori_Mincho/ShipporiMincho-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: 'Bricolage Grotesque';
  src: url(../fonts/Bricolage_Grotesque/BricolageGrotesque-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: 'Bricolage Grotesque';
  src: url(../fonts/Bricolage_Grotesque/BricolageGrotesque-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'Bricolage Grotesque';
  src: url(../fonts/Bricolage_Grotesque/BricolageGrotesque-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Bricolage Grotesque';
  src: url(../fonts/Bricolage_Grotesque/BricolageGrotesque-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'Bricolage Grotesque';
  src: url(../fonts/Bricolage_Grotesque/BricolageGrotesque-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: 'Bricolage Grotesque';
  src: url(../fonts/Bricolage_Grotesque/BricolageGrotesque-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Bricolage Grotesque';
  src: url(../fonts/Bricolage_Grotesque/BricolageGrotesque-ExtraBold.ttf);
  font-weight: 800;
}